body { 
    background: rgba(28,30,32,.95);
    font-family: Tahoma, Geneva, sans-serif; 
    font-size: 11px;
    }







#footer_container{
	float:left;
	width:100%;	
	min-height:60px !important;
	background:url(../images/transparent_background.png);
}

/*copyright text*/
#footer>div{
	color:#fff !important;
	font-size:11px !important;
	display:inline-block;
	margin:0px 80px 0 400px;
}

/*footer menu*/
#footer>ul{
	margin:20px 0px 0 280px;
	float:left;
}

#footer>ul .active{
	background-color:#F30;
	display:block;
	padding:0px 5px 0px 5px;
}

#footer>ul>li{	
	float:left;
	display:block;
	margin:0px 0 0 5px;
	padding:0px 5px 0px 10px;
	background:url(../images/footer_menu_li_bg.png) no-repeat center left;
}

#footer>ul>li:first-child{
	background-image:none;
	padding-left:0px;
	margin-left:0px;
}

#footer>ul>li>a{
	color:#FFF;
	line-height:20px;
	text-decoration:none;
}
.center-clear,.center-clear-border-support{
	width:990px;
	margin:0 auto 0 auto !important;
	position:relative !important;
}






.center-clear-border-support{
	width:988px;
}









#top_menu{
	clear:left;
	display:block;
	height:40px;/*60px actual hight, pushed down by top elements*/
	float:left;
	border:0 !important;
	width:780px;
}

#top_menu>li{
	list-style:none;
	list-style-position:outside;
	float:left;
	display:block;
	padding:0 20px 0 20px !important;
	background:url(../images/top_menu_li_bg.png) no-repeat center left;
	height:49px;/*60px*/
	/*margin-top:10px;*/
}

#top_menu>li:hover>a{
	color:#e53400;
}

#top_menu>li:first-child{
	background:none;
}

#top_menu>li>a{
	font-family:'Terminal Dosis',Tahoma, Geneva, sans-serif;
	font-weight:normal;
	text-decoration:none;
	font-size:21px;
	color:#fff;
	display:block;
	float:left;
	line-height:21px;
}

#top_menu>li>a:first-child{
	border-left:none;
}

#top_menu li>span{
	clear:left;
	display:block;
	float:left;
	font-size:10px;
	line-height:16px;
	color:#9c9c9c;	
}


#icon {
    height: 45px;
    width: 45px;
}



#header-contanier{
	width:100%;
	height:55px;
	background:url(../images/transparent_background.png) repeat-x bottom;
	float:left;
}

#header{
	height:1000px;
}


.header-place-holder{
	width:100%;
	height:3px;
	float:left;
}